@font-face {
    font-family: 'ProximaNova';
    src: local("Proxima Nova"), url('../fonts/proxima/proximanovaregular-webfont.woff2') format('woff2'),
         url('../fonts/proxima/proximanovaregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}